
body {
  font-family: "Kanit", sans-serif;
  background: #404A65;
  color: white;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
    background: #3063f1;
    color:white;
      font-family: "Kanit", sans-serif;
  font-weight: 600;       
  font-size: 1.25rem; 
}
h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;       
  font-size: 4rem;  
  
    text-shadow: 2px 2px 0px #35383f;
-webkit-text-stroke-width: 5px;
-webkit-text-stroke-color: #35383f;
}
.coin {
  width: 120px;
  cursor: pointer;
  transition: transform 0.6s;
}


.kanit-thin { font-weight: 100; }
.kanit-light { font-weight: 300; }
.kanit-regular { font-weight: 400; }
.kanit-medium { font-weight: 500; }
.kanit-bold { font-weight: 700; }
